
/* ------------------------------------------------Navalert*/
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
    background-color: #B66D7C;
    font-family: 'Sunflower', sans-serif;
    margin: 0;
    width: 100%;
}
/* ------------------------------------------------Header*/
.brand-header-tex-wrapper.no-gutters {
    font-family: 'Sacramento', cursive;
    font-size: 70px;
    display: inline-block;
    justify-content: left;
    text-align: left;
    color: #5D5D5D;
    background-color: #fff;
    height: 150px;
    margin: 0;
    width: 100%;
    padding: 0;
}

.logo {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 0;
    width: 100%;
}

@media screen (max-width: 500px) {
    .logo {
        font-size: 45px;
        color: #5D5D5D;
        justify-content: center;
        text-align: center;
        margin-top: 40px;
          }
}